@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /*font-family: 'Alegreya', serif;
    font-family: 'Overpass', sans-serif;
    width: min(100% - 10px, 1200px); */
}

body {
    background: url(../img/background.png) fixed;
}


/* MEDIA */
@media screen and (max-width: 830px) {}

@media screen and (max-width: 450px) {}