@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

html {
    --sizeBody: min(100% - 10px, 1300px);

    --hfBackground: rgba(13, 59, 9, 0.37);
    --fontColor: rgb(147, 192, 143);
    --background: rgba(0, 0, 0, 0.719);

}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    /*font-family: 'Overpass', sans-serif;*/
}

body {
    background: url(../img/background.png) fixed;
    background-size: cover;
    overflow-x: hidden;

}

.container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTEUDO */
.content {
    width: var(--sizeBody);
    display: flex;
    justify-content: center;
}

/* HEADER */
header {
    width: 100vw;
    background-color: var(--hfBackground);
    display: flex;
    justify-content: center;
    color: var(--fontColor);
    height: 200px;

}

.container :nth-child(1) {
    align-items: center;
}

.logo-img {
    max-width: 20%;
}

header .logo {
    width: 40%;
}

header .menu {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

header .menu a {
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    background-color: #054707cc;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px 11px;
    transition: 1994ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header .menu a:hover {
    transition: 1994ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #003d02;
    border: solid 2px #ffffff;
}

/* FOOTER */
footer {
    width: 100vw;
    bottom: 0;
    background-color: var(--hfBackground);
    display: flex;
    justify-content: center;
    height: 100px;
}



/* MEDIA */
@media screen and (max-width: 830px) {}

@media screen and (max-width: 450px) {}

/* BARRA DE ROLAGEM */

body::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgba(0, 65, 6, 0.61);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 65, 6, 0.61);
    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
    border: var(--background);
    /* creates padding around scroll thumb */
}